<% item.each do |item| %>
  <tr>
    <td class="col-md-8"><%= item.description %></td>
    <td class="col-md-2"><%= item.status %></td>
    <td class="col-md-2"><%= item.days_left %></td>
  </tr>
<% end %>