<div class="table table-striped">
  <table style="width:100%"
    <thead>
      <tr class="items-table">
        <th class="items-row col-md-8">Task Description</th>
        <th class="items-row col-md-2">Status</th>
        <th class="items-row col-md-2">Days Left</th>
      </tr>
    </thead>
    <tbody>
      <%= render template: "items/_item", locals: { item: @item } %>
    </tbody>
  </table>
</div>