<div class="row">
  <div>
    <h3>My List</h3>
  </div>
  <div class="pull-right button">
    <%= link_to "New Task", new_item_path, class: 'btn btn-success' %>
  </div>
</div> 

<div>
  <table style="width:100%" class="table-striped">
    <thead>
      <tr class="items-table">
        <th class="items-row col-md-6">Task Description</th>
        <th class="items-row-center col-md-2">Status</th>
        <th class="items-row-center col-md-2">Days Left</th>
        <th class="items-row col-md-2">Archive?</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "items/item", collection: @items %>
    </tbody>
  </table>
</div>


<script>
  var archiveItem = function(id){
    $.ajax("/items/"+id, {method: "DELETE"})
  }


  $(".archive-button").click(function(){
    archiveItem($(this).data('id'))
  })
</script>