// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.home {
  text-align: center;
}

.items-table {
  border: 1px solid;
  border-spacing: 2px;
  border-color: grey;
}

.items-row {
  padding: 16px;
}

.items-row-center {
  padding: 16px;
  text-align: center;
}

.button {
  padding: 4px;
}